{% extends "base.twig" %}

{% block content %}
  <div class="form-container">
    <h1>Inscription</h1>
    <form method="POST" action="/auth/register">
      <div class="form-group">
        <input type="text" name="username" placeholder="Nom d'utilisateur" required class="input">
      </div>
      <div class="form-group">
        <input type="email" name="email" placeholder="Email" required class="input">
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Mot de passe" required class="input">
      </div>
      <div class="form-group">
        <button type="submit" class="button primary">S'inscrire</button>
      </div>
    </form>
  </div>
{% endblock %}
