<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/node_modules/retro.css/css/index.min.css">
  <link rel="stylesheet" href="/css/style.css"> <!-- Inclusion du fichier CSS -->
</head>
<body>
  <header>
    <nav class="nav-bar">
      <a href="/" class="title">Music App</a> <!-- Le titre est maintenant un lien -->
      <div class="actions">
        {% if session.userId %}
          <a href="/auth/logout" class="button secondary">Déconnexion</a>
          <a href="/music" class="button primary">Ma Musique</a>
        {% else %}
          <a href="/auth/login" class="button primary">Connexion</a>
          <a href="/auth/register" class="button secondary">Inscription</a>
        {% endif %}
      </div>
    </nav>
  </header>
  <main class="content">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
