<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
</head>
<body>
  <h1>Bienvenue sur Music App</h1>
  <p><a href="/auth/register">Inscription</a> | <a href="/auth/login">Connexion</a></p>
</body>
</html>
